*{
    margin:0;
    padding:0;
    box-sizing: border-box;

} 
:root{
    --primary-color:#fcf5e9;
    --container-normal:1100px;
    --container-wide:1400px;
    --container-narrow:900px;

}
ul{
    list-style: none;
}
body{
    font-family:'Open Sans',sans-serif;
    line-height:1.6;
    font-size:18px;
} 
img{
    max-width:100%;
   }
   /* utility classes */
   .bg-primary{
    background:var(--primary-color);
   }
   .btn{
    display:inline-block;
    padding:1rem 2rem;
    border:1px solid #333;
    background:transparent;
    font-family:inherit;
    font-size:inherit;
    cursor:pointer;
   }
   .btn:hover{
    background:#333;
    color:#fff;

   }
   /* container */
.container{
    margin:0px auto;
    padding:0 1.5rem;
    max-width:var(--container-normal);
}
.container-lg{
    max-width:var(--container-wide);

}
.container-sm{
    max-width:var(--container-narrow);
}
/* logo image */
.logo{
    width:130px;
}
/* header */
.header{
    margin:1.5rem auto;
}
.header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
nav{
    display:flex;
    gap:1rem;
}
nav>a{
    padding:0.5rem 1rem;
    text-decoration: none;
    color:#333;

}
nav>a:hover{
    background-color:var(--primary-color);
}
nav>.current{
    font-weight:600;
    background:var(--primary-color);
}
/* HERO */
.hero{
 height:500px;
 display:flex;
 justify-content:center;
 align-items:center;
 text-align:center;
}
.hero h2{
    font-size:3rem;
    line-height:1.4;
    font-weight:normal;
}

/* GALLERY */
.gallery-flex{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content:center;
    
   }
.flex-item{
     width:calc(33.333% - 20px);
     border-radius:8px;
}
.flex-item img{
    border-radius:10px;
}
.flex-item:hover{
    opacity:0.9;
}

/* FOOTER */
.footer{
    padding:2rem 1.5rem;
    margin-top:2rem;
    border-top:1px solid #aaa;
}
.footer .footer-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
   
   
}


.footer img{
   width:120px;
   height:35px;

}
.footer h4{
    font-size:1rem;
    margin-bottom:0.5rem;
}
.footer a{
    margin:0.5rem;
    /* padding-bottom:10px; */
}
.footer a:hover{
    opacity:0.7;
    cursor:pointer;
}

/* ABOUT */
.services{
 background:#333;
 color:white;
 padding:3rem 0 4rem;

}
.container .section-heading{
    font-size:1.1rem;
    text-align:center;
    margin-bottom:0.7rem;
}
.services-flex{
    display:flex;
    gap:2rem;
}
.service-item{
    padding:20px;
    color:#fcf5e9;
    font-size:1.1rem;
}

/* TEAM DETAILS */
.team-flex{
    display:flex;
    gap:1.4rem;

}
.team-item{
    border-radius:8px;
}
.team-heading{
    text-align:center;
    margin-bottom:0.7rem;
}
.team-item .name{
    /* padding:5px; */
    font-size:1rem;
}
.team-item img{
   
    border-radius:10px;
}

.team{
    padding:3rem 0 4rem;
}

/* CONTACT */
.cont {
    background:#333;
    padding:7rem 1.5rem;
}
.cont h2{
    font-size:1.8rem;
    padding:0 6rem;
    color:white;
    font-weight:500;

}
.cont .bg-primary{
    color:#333;
}
.visually-hidden {
    clip-path:inset(50%);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  .contact-us{
    padding:3rem 0 4rem;
  }
 .section-heading{
    margin-bottom:4rem;
  }
  .contact-us p{
       text-align:center;
       margin-bottom:2rem;
  }

  .form-group{
    margin:2rem 0;
  }
  .contact-us input,.contact-us textarea
{
    border:none;
    border-bottom:1px solid #333;
    width:100%;
    font-family:inherit;
    font-size:inherit;
    padding-bottom:1rem;

}
.contact-us textarea{
    height:200px;
}
.contact-us input:focus,.contact-us textarea:focus{
    outline:0;
}
.contact-us button{
    width:100%;
}


/* media */
@media(max-width:768px){
    .header .container,.services .services-flex,.team .team-flex{
        flex-direction:column;
        gap:1.5rem;
    }
    .hero{
        height:300px;
        
    }.hero h2{
         font-size:1.8rem;
    }
    .flex-item{
        width:calc(50% - 20px);
    }
    .footer-flex{
        flex-direction:column;
         gap:1.5rem;
        
        
        text-align:center;
    }
    
   
}
